.cover__link {
  display: inline-block;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-color: rgba(42, 44, 47, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
}

/*.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.9);
  transition: all 1s;
} */

.cover__link::after {
  height: 100%;
  content: "";
  background-color: rgba(42, 44, 47, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.cover__link:hover::after {
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .cover__link {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .cover__link {
    width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 330px) and (max-width: 480px) {
  .cover__link {
    width: 480px;
    height: 300px;
  }
}

@media screen and (min-width: 100px) and (max-width: 330px) {
  .cover__link {
    width: 320px;
    height: 200px;
  }
}
