.cover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  text-decoration: none;
}

.cover__link::after {
  height: 100%;
  content: "";
  background-color: rgba(42, 44, 47);
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 330px) and (max-width: 480px) {
  .cover__link {
    max-width: 480px;
    min-height: 300px;
  }
}

@media screen and (min-width: 100px) and (max-width: 330px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
