.place__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.05;
  min-height: 76px;
  color: white;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .place__title {
    margin-left: 5%;
    font-size: 32px;
    min-height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 671px) {
  .place__title {
    margin-left: 3%;
    font-size: 42px;
    min-height: auto;
  }
}
