.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: white;
  margin: 0;
  width: 97%;
}

@media screen and (max-width: 669px) {
  .place__title {
    font-size: 32px;
    margin-left: 3%;
  }
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 479px) {
  .place__title {
    font-size: 32px;
    margin-left: 5%;
    width: 90%;
  }
}
