.gallery {
  display: grid;
  width: 96%;
  max-width: 1184px;
  height: auto;
  gap: 16px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(288px, 1fr)
  ); /*repeat(4, minmax(284px, 1fr)); */
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  box-sizing: border-box;
  margin: 92px auto;
}

@media screen and (max-width: 480px) {
  .gallery {
    width: 88%;
  }
}
