.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .lead {
    max-width: 928px;
    margin: 0 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 770px) {
  .lead {
    margin: 0 auto;
  }
}
