.cover__subtitle {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.15;
  margin: 32px auto 0;
  text-align: center;
  max-width: 360px;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  .cover__subtitle {
    font-size: 16px;
    max-width: 332px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 280px;
  }
}
