.cover__subtitle {
  color: white;
  font-size: 18px;
  line-height: 1.15;
  margin: 2% auto;
  text-align: center;
  width: 360px;
}

@media screen and (max-width: 760px) {
  .cover__subtitle {
    font-size: 14px;
    width: 280px;
  }
}

@media screen and (min-width: 520px) and (max-width: 760px) {
  .cover__subtitle {
    font-size: 16px;
    width: 332px;
  }
}
