.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc(100% - 77px) 1fr 1fr;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
  align-items: center;
  padding-top: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .header {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    grid-template-columns: calc(100% - 62px) 1fr 1fr;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
  }
}
