.footer__links {
  display: flex;
  color: white;
  font-size: 16px;
  line-height: 1.12;
}

@media screen and (max-width: 762px) {
  .footer__links {
    flex-direction: column;
    font-size: 24px;
  }
}
