.place__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  color: white;
  margin: 0;
  padding-bottom: 26px;
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    margin: 0 5%;
  }
}

@media screen and (min-width: 480px) and (max-width: 675px) {
  .place__paragraph {
    margin: 0 3%;
  }
}
