.place__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.63;
  color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 26px;
  list-style: none;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 770px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 675px) {
  .place__paragraph {
    margin: 0 3% 25px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    margin: 0 5% 25px;
  }
}
