.footer__copyright {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 762px) {
  .footer__copyright {
    justify-content: start;
  }
}
