.intro {
  display: flex;
  min-width: 288px;
  /*max-width: 984px; */
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  justify-content: flex-start;
}

@media screen and (min-width: 770px) and (max-width: 1028px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (min-width: 480px) and (max-width: 770px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    margin: 0 16px;
  }
}
