.website {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (min-width: 480px) and (max-width: 675px) {
  .website {
    margin-left: 3%;
  }
}

@media screen and (max-width: 480px) {
  .website {
    margin: 0 5%;
  }
}
