.lead__subtitle {
  color: white;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  max-width: 640px;
  line-height: 1.2;
}

@media screen and (max-width: 1028px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 481px) and (max-width: 765px) {
  .lead__subtitle {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 40px;
    max-width: 380px;
  }
}

@media screen and (max-width: 480px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 90%;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
