.cover {
  display: grid;
  grid-template-columns: auto-fit, minmax(768px, 1184px);
  grid-template-rows: 1;
  margin: 0 auto;
  max-width: 1184px;

  /* max-width: 1184px;
  min-width: 768px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto; */

  /*max-width: 1184px;
  min-width: 768px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto; */
}
