.cover__picture-box {
  background-color: #2a2c2f;
  opacity: 0.7;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
}
