@import url(/blocks/logo/logo.css);
@import url(/blocks/header/__main-illustration/header__main-illustration.css);
@import url(/blocks/header/__subtitle/header__subtitle.css);
@import url(/blocks/header/__title/header__title.css);
@import url(/blocks/page/page.css);
@import url(/blocks/root/root.css);
@import url(/blocks/header/__caption/header__caption.css);
@import url(/blocks/header/__top/header__top.css);
@import url(/blocks/header/__link/_language/header__link_language_en.css);
@import url(/blocks/header/__link/_language/header__link_language_ru.css);
@import url(/blocks/header/__context/header__context.css);
@import url(/blocks/header/header.css);

@import url(/blocks/intro/__stat-list/intro__stat-list.css);
@import url(/blocks/intro/__text/intro__text.css);
@import url(/blocks/intro/__title/intro__title.css);
@import url(/blocks/intro/intro.css);
@import url(/blocks/introduction/introduction.css);

@import url(/blocks/gallery/gallery.css);
@import url(/blocks/gallery/__square-photo/gallery__square-photo.css);
@import url(/blocks/gallery/__square-photo/gallery__square-photo_sochi.css);
@import url(/blocks/gallery/__square-photo/gallery__square-photo_tulsi.css);
@import url(/blocks/gallery/__square-photo/gallery__square-photo_train.css);
@import url(/blocks/gallery/__square-photo/gallery__square-photo_tuman.css);

@import url(/blocks/place/place.css);
@import url(/blocks/place/__image/place__image.css);
@import url(/blocks/place/__paragraph/place__paragraph.css);
@import url(/blocks/place/__title/place__title.css);
@import url(/blocks/place/__website/place__website.css);
@import url(/blocks/place/__website/_link/place__website_link.css);
@import url(/blocks/place/__website/_url-heading/place__website_url-heading.css);

@import url(/blocks/places/places.css);

@import url(/blocks/cover/__box/cover__box.css);
@import url(/blocks/cover/__subtitle/cover__subtitle.css);
@import url(/blocks/cover/__title/cover__title.css);
@import url(/blocks/cover/__text/cover__text.css);

@import url(/blocks/container/container.css);
@import url(/blocks/cover/cover.css);

@import url(/blocks/footer/__copyright/footer__copyright.css);
@import url(/blocks/footer/__link/footer__link.css);
@import url(/blocks/footer/footer.css);
@import url(/blocks/footer/__links/footer__links.css);

@import url(/blocks/media/media.css);
@import url(/blocks/link-style/link-style.css);
