.lead__caption {
  margin: 8px 0 92px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 1.4;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .lead__caption {
    margin: 8px 3% 88px;
  }
}

@media screen and (max-width: 480px) {
  .lead__caption {
    margin: 8px 5% 64px;
  }
}
