.header__top {
  display: grid;
  grid-template-columns: calc(100% - 95px) 1fr 1fr;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
  align-items: center;
  column-gap: 18px;
  padding-top: 28px;
}

@media screen and (max-width: 480px) {
  .header__top {
    grid-template-columns: calc(100% - 80px) 1fr 1fr;
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    padding-top: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header__top {
    grid-template-columns: calc(100% - 80px) 1fr 1fr;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__top {
    grid-template-columns: calc(100% - 80px) 1fr 1fr;
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
    padding-top: 16px;
  }
}
