.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* */
  grid-template-rows: repeat(2, auto);
  box-sizing: border-box;
  margin: 0 auto 80px;
  column-gap: 40px;
  row-gap: 48px;
}

/* display: grid;
  grid-template-columns: minmax(440px, 1fr) minmax(352px, 1fr); 
  grid-template-rows: auto;
  box-sizing: border-box;
  margin: 0 auto 80px;
  column-gap: 40px;
  row-gap: 48px; 
} */

@media screen and (max-width: 480px) {
  .place {
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .place {
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 800px) and (max-width: 932px) {
  .place {
    column-gap: 32px;
    row-gap: 32px;
    margin: 3%;
  }
}

@media screen and (min-width: 932px) and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    row-gap: 48px;
    margin: 2%;
  }
}
