.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* */
  grid-template-rows: repeat(2, auto);
  box-sizing: border-box;
  margin: 0 auto 80px;
  column-gap: 40px;
  row-gap: 48px;
}

/* display: grid;
  grid-template-columns: minmax(440px, 1fr) minmax(352px, 1fr); 
  grid-template-rows: auto;
  box-sizing: border-box;
  margin: 0 auto 80px;
  column-gap: 40px;
  row-gap: 48px; 
} */
