.header__title {
  color: white;
  max-width: 720px;
  margin: 56px auto;
  text-align: center;
  font-size: 96px;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
    font-weight: bold;
    margin: 48px auto 0;
  }
}
