.place__website {
  display: flex;
  flex-direction: column;
  min-height: 76px;
  margin: 0;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .place__website {
    margin: 0 5%;
    min-height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 671px) {
  .place__website {
    margin-left: 3%;
  }
}
