.intro__title {
  color: white;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 32px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .intro__title {
    font-size: 54px;
  }
}
